.download-button {
    background-color: #3B2349;
    border: none;
    font-size: 3rem;
    display: block;
    margin: 50px auto;
    width: 70%;
    border-radius: 5px;
}

a {
    color: white;
    text-decoration: none;
}