.navbar {
    width: 100%;
    background-color: #3B2349;
    overflow: auto;
    color: white;
    box-shadow: 0 0 10px 0 black;
}

.navItem,
.link {
    float: right;
    margin: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: gray solid 2px;
    border-radius: 15px;
    transition: .5s;
}

.navItem:hover {
    transition: .5s;
    color: #3B2349;
    background-color: gray;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .navItem {
        margin: 2px;
        float: left;
        padding: 5px;
    }
}