.project-holder {
  width: 70%;
  margin: auto;
  margin-bottom: 8%;
  background-color: #3B2349;
  padding: 12px;
}

.project-img {
  border-radius: 50%;
  margin: 10px;
  width: 240px;
  height: auto;
  transition: .8s;
}

.project-holder:nth-child(odd) .project-img {
  float: left;
}

.project-holder:nth-child(even) .project-img {
  float: right;
}

.project-title {
  font-size: 1.6rem;
}

.project-desc {
  font-size: 1.2rem;
}

.project-img:hover {
  transition: .4s;
  margin-top: -20px;
}

@media screen and (max-width: 992px) {
  .project-holder:nth-child(odd) .project-img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
  }

  .project-holder:nth-child(even) .project-img {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
  }

  .project-title {
    text-align: center;
    font-size: 1.8rem;
  }
}