.superTitle {
    display: grid;
    justify-content: center;
    font-size: 5.8vw;
    margin-top: 2%;
}

.bio {
    color: white;
    display: grid;
    justify-content: center;
    font-size: 2.5vw;
}

@media screen and (max-width: 600px) {
    .bio {
        font-size: 5vw;
    }

    .superTitle {
        font-size: 7vw;
    }
}